<!DOCTYPE html>
<html>
<head>
<title>The Lab App Landing Page Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="The Lab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
crossorigin=""></script>
<script type="text/javascript" src="{{ url_for('static',filename='MovingMarker.js') }}"></script>
<style>
    html,body{
        height: 100%
	}
	.my-custom-control {
    padding:5px 10px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    border-radius: 5px;
}

.my-custom-control:empty {
    display: none;
}
</style>
	
</head>
<body>
        <div class="header" style="min-height: auto;">
			<div class="container">
				<div class="top-header">
					<a href="/"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="" /></a>
					<div style="float: right;">
						<h4>
							{% for u in users %}
							Name: <label id="name_val">{{ u.name }}</label><br/>
							Points: <label id="point_val">{{ u.points }}</label><br/>
							Level: <label id="level_val"></label>
							{% for i in range(0, u.level): %}
								<img src="{{ url_for('static',filename='images/star.png') }}" height="20%" width="20%" alt="" />
							{% endfor%}
							<br/>
							Exp: <label id="exp_val">{{ u.experience }}</label> &nbsp;&nbsp;&nbsp;&nbsp; Disability: <label id="disble_val">{{ u.disable }}</label><br/>
							
							<!-- Sum : <label>{{ u.points + u.level }}</label><br/> -->
						{% endfor %}
						</h4>
					</div>
				</div>
			</div>
		</div>


<div id="mapid" style="width: 100%; height: 86%;"></div>
<script>

	var mymap = L.map('mapid').setView([46.49778, 11.3546], 17);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="http://mapbox.com">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	var greenIcon = new L.Icon({
		iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
		shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		iconSize: [25, 41],
		iconAnchor: [12, 41],
		popupAnchor: [1, -34],
		shadowSize: [41, 41]
	});

	var redIcon = new L.Icon({
		iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
		shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		iconSize: [25, 41],
		iconAnchor: [12, 41],
		popupAnchor: [1, -34],
		shadowSize: [41, 41]
	});

	{% for data in open_data %}
		{% if data[4] == "" and data[7] == "" %}
			var popupText = '<center><h1>{{ data[1] }}</h1><br><br><h3> {{ data[3] }}<br> <img src="{{ url_for('static',filename='images/david-grandmougin-123135.jpg') }}" width="70%" height="50%"/></center>'
			L.marker([{{data[9]}}, {{data[10]}}]).addTo(mymap).bindPopup(popupText);
		{% endif %}
		{%if data[4] != "" %}
			var popupText = '<center><h1>{{ data[1] }}</h1><br><br> <h3>{{ data[3] }}</h3><br><h4> <form> <input type="radio" name="{{ data[0] }}" value="1"> {{ data[4] }}<br><input type="radio" name="{{ data[0] }}" value="2">{{ data[5] }}<br><input type="radio" name="{{ data[0] }}" value="3">{{ data[6] }} <br><br> <input type="submit" value="Submit"> </form></h4></center>'
			L.marker([{{data[9]}}, {{data[10]}}], {icon: greenIcon}).addTo(mymap).bindPopup(popupText);
		{%endif%}
		{% if data[4] == "" and data[7] != "" %}
			var popupText = '<center><h1>{{ data[1] }}</h1><br><br><h3> {{ data[3] }}</h3> <br> <form> <input type="text" name="{{ data[0] }}"><br><br><input type="submit" value="Submit"> </form></center>'
			L.marker([{{data[9]}}, {{data[10]}}], {icon: redIcon}).addTo(mymap).bindPopup(popupText);
		{%endif%}
	{% endfor %}

	var popupText = ''
	L.marker([46.49768, 11.35373], {icon: redIcon}).addTo(mymap);

</script>



</body>
</html>
