<!doctype html>
<html>
   <body>
    <!-- <ul style="list-style: none; ">
        {% for u in users %}
        <li id="id_value">ID: {{ u.id }}</li>
        <li id="name_val">Name: {{ u.name }}</li>
        <li id="point_val">Points: {{ u.points }}</li>
        <li id="level_val">Level: {{ u.level }}</li>
        <li id="exp_val">Exp: {{ u.experience }}</li>
        <li id="disble_val">{{ u.disable }}</li>
    {% endfor %}
    </ul> -->


    {% for u in users %}
    ID: <label id="id_value">{{ u.id }}</label><br/>
    Name: <label id="name_val">{{ u.name }}</label><br/>
    Points: <label id="point_val">{{ u.points }}</label><br/>
    Level: <label id="level_val">{{ u.level }}</label><br/>
    Exp: <label id="exp_val">{{ u.experience }}</label><br/>
    Disability: <label id="disble_val">{{ u.disable }}</label><br/>
{% endfor %}



      <a href = "/">Go back to home page</a>
      
   </body>
</html>